
body{
	margin:0;
	padding:0;
	background-size:cover;
	background:url(IMAGE/Home1.jpg);
	background-position:centre;
	font-family:times of new roman;
}

	
.login-box{
	margin:0;
	padding:0;
	width:320px;
	height:420px;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);	
	box-sizing:border-box;
	padding:70px 30px;
}

h1{
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size:22px;
}
.login-box p{
	margin:0;
	padding:0;
	font-weight:bold;

}
.login-box input{
	width:100%;
	margin-bottom:20px;
}
.login-box input[type="text"],input[type="password"]{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:12px;
}
.login-box input[type="submit"]{
	border:none;
	background:#fb2525;
	outline:none;
	height:40px;
	color:#fff;
	font-size:18px;
}
.login-box input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
	
}
.login-box a{
	text-decoration:none;
	line-height:20px;
	color:white;
	font-size:18px;
}
.login-box a:hover{
	color:#ffc107;
}
	
